body {   
    width: 100%;
    height: 100%;
    margin: 5px;   
    border-color: #000;
    border: 6px;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    

    
    

}

.topo {
    margin: 30px;
    background-color: #252323;
    height: 190px;
    border-radius: 12px;
    text-align: center;
    

    

}

.logo{
    float: left;
    padding: -20px;
    padding-left: 20px;
    
    
   
}

.chart-container{
    position: relative;
    padding-top: 100px;
    margin: auto;
    height: 45vh;
    width: 45vw;   
   
    
}

.header-2 {
    margin-top: 10px;
    background-color:#008000;
    width: 100%;
    margin: 0 auto;
    border-radius: 12px;
    
    

}
  
canvas {
    border: 2px double black;
    background-color: white;
    display: block;
    border-radius: 12px;
    
    
    
  }

.P{
    position: left;
    text-align: center;

}

.button {
    background-color: #008000;
    border: none;
    color: white;
    padding: 16px 50px;
    text-align: center;
    font-size: 16px;
    margin: 10px 15px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
    text-align: center
    
  }
  
  .button:hover {opacity: 2}
  
  .botao{
    text-align: center;
    padding: 230px;
  }

  .img{
    float: left;
    width: 600px; 
    height: 200px;   
    padding-left: 20px;
    text-align: center;

  }
.frase {
    float: left;
    width: 600px; 
    height: 200px;   
    padding-left: 300px;
    padding-top: 50px;
    color: #006400;
    font-size: 25px;
    text-align: center;

}
  

